main{
    display: grid;
    grid-template-areas: 
    "baner baner baner"
    "left center right"
    "bottom bottom bottom"
    "footer footer footer"
    ;
}
#baner {
    grid-area: baner;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact{
    grid-area: left;
}

#ofert{
    grid-area: center;
}

#rules{
    grid-area: right;
}
#cost{
    grid-area: bottom;
}
#costForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer{
    grid-area: footer;
}